nav {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 22.5px;
    margin-top: 10px;
    border-bottom: 2px solid lightgray;
    width: 8.7rem;
    position: fixed;
    top: -2px;
    transform: color 2s ease-in ;
}

nav:hover {
    color: darkorange;
}

img {
    width:30%;
    margin: calc(10%/6); 
    margin-top: 25px;
}
